<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="prenom">
	<f:translate key="tx_annuairematthiasrodier_domain_model_contact.prenom" />
</label><br />
	<f:form.textfield property="prenom" /><br />
<label for="nom">
	<f:translate key="tx_annuairematthiasrodier_domain_model_contact.nom" />
</label><br />
	<f:form.textfield property="nom" /><br />
<label for="tel">
	<f:translate key="tx_annuairematthiasrodier_domain_model_contact.tel" />
</label><br />
	<f:form.textfield property="tel" /><br />
<label for="email">
	<f:translate key="tx_annuairematthiasrodier_domain_model_contact.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="adresse">
	<f:translate key="tx_annuairematthiasrodier_domain_model_contact.adresse" />
</label><br />
	<f:form.textarea property="adresse" cols="40" rows="15" /><br />
<label for="cp">
	<f:translate key="tx_annuairematthiasrodier_domain_model_contact.cp" />
</label><br />
	<f:form.textfield property="cp" /><br />
<label for="ville">
	<f:translate key="tx_annuairematthiasrodier_domain_model_contact.ville" />
</label><br />
	<f:form.textfield property="ville" /><br />
<label for="photo">
	<f:translate key="tx_annuairematthiasrodier_domain_model_contact.photo" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
</html>